@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Cima App</h1>
    <p>This Website is fully build using AspNetCore 6.0 Framework</p>
    <br><br>
    <h2>Technology</h2>
    <p>EntityFrameworkCore</p>
    <p>Databse : MS Sql</p>
    <p>Auth : Identity Auth</p>

</div>
