



<form asp-action="AddRole" asp-controller="Role" method="post">

    <h2>Adding A New Role</h2>

    <div data-mdb-input-init class="form-outline mb-4">
        <label for="name" >Role Name</label>
        <input for="name" name="name" class="form-cotrol">
    </div>

    <input type="submit" value="Create" class="btn btn-primary"/>


</form>